*.pyc
log/ratlogs/*
!log/ratlogs/.gitkeep
log/ccs/*
!log/ratlogs/.gitkeep
log/DQRecords/*
!log/DQRecords/.gitkeep
log/json/*
!log/json/.gitkeep
data/zdabs/*
!data/.gitkeep
!data/zdabs/.gitkeep
!data/proc_roots/.gitkeep
data/proc_roots/*
data/dc_roots/*
!data/dc_roots/.gitkeep
data/dcaocc/*
!data/dcaocc/.gitkeep
data/runlogs/*
!data/runlogs/.gitkeep
bashscripts/*
!bashscripts/.gitkeep
outmacs/*
!outmacs/.gitkeep
tools/dcaCombine/dcas/*
!tools/dcaCombine/dcas/.gitkeep
tools/dcaCombine/occs/*
!tools/dcaCombine/occs/.gitkeep
tools/dcaCombine/output/*
!tools/dcaCombine/output/.gitkeep
